/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #FFEBB7, #FFAB73);
    color: #333;
    padding: 10px;
}

/* Encabezado */
header {
    text-align: center;
    background: linear-gradient(45deg, #FFA726, #FB8C00);
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 2rem;
    letter-spacing: 1.5px;
}

/* Items del menú */
.menu-item {
    display: flex;
    align-items: center;
    background-color: white;
    border: 2px solid #FFB74D;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s, box-shadow 0.3s;
    transform: scale(1); /* Escala predeterminada */
}

.menu-item.center {
    transform: scale(1.2); /* Agranda el elemento en el centro */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.item-image {
    width: 200px;
    height: 180px;
    border-right: 2px solid #FFB74D;
}

.item-details {
    padding: 20px;
    width: 60%;
}

.item-details h2 {
    font-size: 1.5rem;
    color: #E65100;
    margin-bottom: 10px;
}

.item-details p {
    font-size: 1rem;
    color: #5D4037;
    margin-bottom: 10px;
}

.item-details span {
    font-weight: bold;
    font-size: 1.2rem;
    color: #D84315;
}
