* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: url('https://thumbs.dreamstime.com/b/fire-flames-background-pattern-flat-seamless-vector-illustration-eps-85804391.jpg') no-repeat center center fixed;
    background-size: cover;
}
/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FF914C;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: top 0.3s;
}

.navbar h1 {
    font-size: 8px;
    text-align: center;
    color: #000;
}

/* Section */
.menu-section {
    padding: 80px 20px 20px; /* Espacio debajo del navbar */
}

.menu-item {
    margin-bottom: 30px;
    text-align: center;
}

.menu-item h2 {
    font-size: 26px; /* Tamaño de letra más grande */
     /* Estilo divertido */
    color: rgb(255, 187, 61); /* Color del interior de la letra */
    -webkit-text-stroke: 1px black; /* Borde negro */
    text-align: center; /* Centrar el texto */
}




.menu-item p {
    font-size: 16px;
    color: #000000;
}

.menu-item span {
    font-size: 18px;
    color: #000;
    font-weight: bold;
}

/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.footer .social-icons {
    margin-bottom: 10px;
}

.footer .social-icons img {
    width: 30px;
    margin: 0 10px;
    vertical-align: middle;
}

.footer p {
    font-size: 14px;
}
.menu-item img {
    width: 50%; 
    height: 50%; 
    object-fit: cover; 
    border-radius: 10px; 
}
.navbar-logo {
    max-width: 120px; 
    height: auto;    
    margin: 0 auto; 
    display: block; 
}
