* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: linear-gradient(to bottom, #ffa500, #561d97);
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FF914C;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: top 0.3s;
}

.navbar h1 {
    font-size: 8px;
    text-align: center;
    color: #000;
}

/* Section */
.menu-section {
    padding: 80px 20px 20px; /* Espacio debajo del navbar */
}

.menu-item {
    margin-bottom: 30px;
    text-align: center;
}

.menu-item h2 {
    font-size: 26px; /* Tamaño de letra más grande */
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Estilo divertido */
    color: rgb(255, 187, 61); /* Color del interior de la letra */
    -webkit-text-stroke: 1.5px black; /* Borde negro */
    text-align: center; /* Centrar el texto */
}


.menu-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.menu-item p {
    font-size: 16px;
    color: #000000;
}

.menu-item span {
    font-size: 18px;
    color: #000;
    font-weight: bold;
}

/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.footer .social-icons {
    margin-bottom: 10px;
}

.footer .social-icons img {
    width: 30px;
    margin: 0 10px;
    vertical-align: middle;
}

.footer p {
    font-size: 14px;
}

.navbar-logo {
    max-width: 120px; /* Ajusta el ancho máximo del logo */
    height: auto;     /* Mantiene la proporción del logo */
    margin: 0 auto;   /* Centra el logo horizontalmente */
    display: block;   /* Asegura que el margen funcione correctamente */
}
